
#tab_civitai_interface .model-block {
    box-shadow: 0px 0px 1px 3px #3339ff30;
    border-radius: 10px;
    padding: 1px 20px 10px;
    margin-bottom: 20px;
}

#tab_civitai_interface .model-block code {
    white-space: pre-wrap;
}

#tab_civitai_interface .model-block dl {
    overflow-wrap: anywhere;
}

#tab_civitai_interface .civnsfw img {
    filter: unset;
}

#tab_civitai_interface .sampleimgs .model-block img,
#tab_civitai_interface .sampleimgs .model-block video {
    padding-top: 1em;
    max-width: 20em;
    cursor: zoom-in;
    transition: max-width 0.1s;
}

#tab_civitai_interface h3 {
    font-size: 16px;
}

#tab_civitai_interface h2 {
    margin: 16px 0px 8px;
    font-size: 22px;
}

#tab_civitai_interface ul {
    padding-left: 18px;
}

#tab_civitai_interface p {
    color: #F3F4F6;
    margin: 0px 0px 6px;
    font-size: 14px;
}

#tab_civitai_interface dt {
    font-size: medium;
    color: #80a6c8 !important;
    font-size: 16px;
}

#tab_civitai_interface dd {
    padding: 0px 0px 5px 10px;
    margin-inline-start: 0px;
    font-size: 14px;
    color: #F3F4F6;
}

#tab_civitai_interface a {
    color: #F3F4F6;
    font-weight: bold;
    text-decoration: unset;
}

#tab_civitai_interface a:hover {
    color: #60A5FA;
}

#tab_civitai_interface .civitai_txt2img {
    display: none;
}

#tab_civitai_interface .zoom-radio {
    display: none !important;
}

#tab_civitai_interface .zoom-radio:checked+label>img,
#tab_civitai_interface .zoom-radio:checked+label>video {
    max-width: 95vw;
    max-height: 95vh;
    padding-top: 0px;
    cursor: zoom-out;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    pointer-events: none;
}

#tab_civitai_interface .zoom-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 999;
    cursor: zoom-out;
}

#tab_civitai_interface .zoom-radio:checked+label+.zoom-overlay {
    display: block;
    pointer-events: all;
}

#tab_civitai_interface .zoom-img-container {
    min-width: 20em;
}

#tab_civitai_interface .model-uploader {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    color: white;
}

#tab_civitai_interface .model-description {
    border-top: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: white;
}

#tab_civitai_interface .avatar {
    user-select: none;
    overflow: hidden;
    width: 48px;
    height: 48px;
    min-width: 48px;
    border-radius: 48px;
    text-decoration: none;
    border: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.31);
    display: inline-block !important;
    margin-left: 5px !important;
    vertical-align: middle;
}

#tab_civitai_interface .avatar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    overflow-clip-margin: content-box;
    overflow: clip;
    border-style: none;
}

#tab_civitai_interface .model-description {
    border-top: 1px solid;
    overflow-wrap: break-word;
    overflow: hidden;
    position: relative;
    max-height: 400px;
}

#tab_civitai_interface .model-description::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    background: linear-gradient(to bottom, rgb(255 255 255 / 0%), #0b0f19);
    z-index: 1;
}

#tab_civitai_interface .description-toggle-label {
    display: flex;
    padding: 10px 0px 0px 0px;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
    color: white;
}

#tab_civitai_interface .description-toggle-checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

#tab_civitai_interface .description-toggle-checkbox:checked+.model-description {
    max-height: none !important;
    position: unset !important;
}

#tab_civitai_interface .model-description+.description-toggle-label::before {
    content: "❯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.3s;
}

#tab_civitai_interface .description-toggle-checkbox:checked+.model-description+.description-toggle-label::before {
    transform: rotate(-90deg);
    margin-right: 10px;
}

#tab_civitai_interface .description-toggle-checkbox:checked+.model-description+.description-toggle-label::after {
    content: "Show Less...";
}

#tab_civitai_interface .description-toggle-checkbox:not(:checked)+.model-description+.description-toggle-label::after {
    content: "Show All...";
}

#tab_civitai_interface .accordionCheckbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

#tab_civitai_interface .tabs {
    border-radius: 10px;
    overflow: hidden;
}

#tab_civitai_interface .tab {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-left: -15px;
}

#tab_civitai_interface .tab-label {
    display: flex;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
}

#tab_civitai_interface .civitai-tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#tab_civitai_interface .civitai-tag,
#tab_civitai_interface .civitai-meta-btn {
    background-color: #111827;
    border-radius: 8px;
    padding: 4px 6px;
    border: 1px solid #374151;
}

#tab_civitai_interface .civitai-meta-btn:hover {
    cursor: pointer;
    background-color: #1F2937;
}

#tab_civitai_interface .tab-label::before {
    content: "❯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.3s;
}

#tab_civitai_interface .accordionCheckbox:checked+.tab-label::before {
    transform: rotate(90deg);
}

#tab_civitai_interface .tab-content {
    max-height: 0;
    padding: 0 1em;
    transition: all 0.3s;
    overflow: hidden;
}

#tab_civitai_interface .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    cursor: pointer;
}

#tab_civitai_interface .accordionCheckbox:checked~.tab-content {
    max-height: 100vh;
    padding: 1em;
}
